mat-sidenav {
  width: 150px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-color: #b4b4db;
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  margin-top: 40px;
  overflow-y: visible;
  font-family: cursive;
  box-shadow: inset 0px 11px 8px -10px rgb(0, 0, 0), 8px 0 10px -8px rgba(0,0,0),
}
mat-toolbar {
  background-color: #ceceeb;
  padding: 10px;
  font-family: "Hubballi", cursive;
  box-shadow: inset 0px 11px 8px -10px rgb(0, 0, 0);
}

a:hover {
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: rgb(129, 118, 149);
}
span {
  padding: 10px;
  font-size: 20px;
}
button {
  background-color: pink;
}
