.example-spacer {
  flex: 1 1 auto;
  padding: 10px;
}

.home-link {
  font-weight: bold;
}

mat-toolbar {
  background-color: #6a6a94;
  margin: 0 auto;
  top: 0;
  padding: 10px;
  font-family: "Hubballi", cursive;
  text-align: center;
}

a:hover {
  background-color: pink;
  color: black;
}
