<mat-toolbar>
  <span class="home-link"
    ><a routerLink="" routerLinkActive="active">Home</a></span
  >
  <span class="example-spacer"></span>
  <span><a routerLink="about" routerLinkActive="active">About</a></span>
  <span class="example-spacer"></span>
  <span
    ><a routerLink="divination" routerLinkActive="active">Divination</a></span
  >
  <span class="example-spacer"></span>
  <span
    ><a routerLink="green-craft" routerLinkActive="active">GreenCraft</a></span
  >
  <span class="example-spacer"></span>
  <span
    ><a routerLink="hearth-craft" routerLinkActive="active"
      >HearthCraft</a
    ></span
  >
  <span class="example-spacer"></span>
  <span
    ><a routerLink="moon-magic" routerLinkActive="active">Moon Magic</a></span
  >
  <span class="example-spacer"></span>
  <span><a routerLink="contact" routerLinkActive="active">Contact</a></span>
  <span class="example-spacer"></span>
</mat-toolbar>
