<app-hearth-craft-nav>
  <div class="container">
    <div id="jumbotron"></div>
    <h1>Divination</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
      assumenda quam cumque, recusandae iste incidunt mollitia fugiat officiis
      iure earum! Reprehenderit, dicta ab eligendi accusantium modi dignissimos
      ipsum aliquam corrupti?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
      assumenda quam cumque, recusandae iste incidunt mollitia fugiat officiis
      iure earum! Reprehenderit, dicta ab eligendi accusantium modi dignissimos
      ipsum aliquam corrupti?
    </p>
  </div>
</app-hearth-craft-nav>
