footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #6a6a94;
  padding: 5px;
  font-size: 12px;
  font-family: "Playfair Display", serif;
  z-index: 99;
}
a {
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
}
a:hover {
  color: #d9f4c7;
}
